/* Makes all table rows named 'row1' invisible */
#row1 {               
	display: none;
}

/* CSS for the wrapper the deliveries tables are in, changing font size, width, height, colour etc. */
#deliverieswrapper { 
    font-family: Helvetica;
    font-size: 12px;	
	min-width: 800px;
	max-width: 1080px;
	background-color: rgb(248, 249, 250);
    min-height: 100vh;
    margin-bottom: 10px;

}

/* CSS for the base table in deliveries.php, changing width, colour, position, padding etc */
#table_deliveries table{ 
	margin-top: 0;
	width: 950px;
	min-width: 311px;
    position: static;
    color: #2c4662;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 5px 0px 0px;
    margin-left: -200px;
	background-color: #FBF5E6;	  
}

/* CSS for table cells in deliveries.php, specifying cell padding, text alignment and border colour & size */
#table_deliveries td { 
  padding: 0px 5px 0px 5px;
  text-align: center; 
  border: 1px solid #ddd;
}

/* CSS for the table headers in deliveries.php, specifying header padding, colour, text alignment and border colour & size */
#table_deliveries th { 
  padding: 10px 10px 10px 10px;	
  background-color: #4CAF50;
  color: white;
  text-align: center; 
  border: 1px solid #ddd;  
}

/* This colours the even numbered table rows in a colour */
#table_deliveries tr:nth-child(even){background-color: #f2f2f2;} 

/* Makes the row the mouse pointer is on have highlight a colour */
#table_deliveries tr:hover {background-color: #ddd;} 


