/* Makes all table rows named 'row1' invisible */
#row1 {               
	display: none;
}

/* CSS for the base table in deliveries.php, changing width, colour, position, padding etc */
#table_deliveries table{ 
	margin-top: 0;
	min-width: 311px;
    width: 99.9%;
    color: #2c4662;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 5px 0px 0px;
	background-color: white;
    border-collapse: collapse;
}

/* CSS for table cells in deliveries.php, specifying cell padding, text alignment and border colour & size */
#table_deliveries td { 
  padding: 0px 5px 0px 5px;
  border: 1px solid #ddd;
    
}
#table_deliveries td:not([class~=BUTTONS])
{
    height: 50px;
}

/* CSS for the table headers in deliveries.php, specifying header padding, colour, text alignment and border colour & size */
#table_deliveries th { 
  padding: 10px 10px 10px 10px;	
  background-color: #607489;
  color: white;
  text-align: center; 
}

/* This colours the even numbered table rows in a colour */

#table_deliveries tr:not([class*=base]):nth-child(even),
#table_deliveries tr:not([class*=BUTTONS]):nth-child(even)
{background-color: #f2f2f2;} 


