#row1 {
	display: none;
}

#deliverieswrapper
{

    font-family: Helvetica;
    font-size: 12px;	
	min-width: 800px;
	max-width: 1080px;
	background-color: rgb(248, 249, 250);
    min-height: 100vh;
    margin-bottom: 10px;

}

#table_deliveries table{
	margin-top: 0;
	width: 950px;
	min-width: 311px;
    position: static;
    color: #2c4662;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 5px 0px 0px;
    margin-left: -200px;
	background-color: #FBF5E6;	  
}


#table_deliveries td {
  padding: 0px 5px 0px 5px;
  text-align: center; 
  border: 1px solid #ddd;
}

#table_deliveries th {
  padding: 10px 10px 10px 10px;	
  background-color: #4CAF50;
  color: white;
  text-align: center; 
  border: 1px solid #ddd;  
}

#table_deliveries tr:nth-child(even){background-color: #f2f2f2;}

#table_deliveries tr:hover {background-color: #ddd;}


