/* css for the submit button */
#subject
{
    height: 20px;
    width: 400px;
}

/* css for the name field*/
#contactname
{
    width: 294px;
}

/* css for email field*/
#contactemail
{
    width: 400px;
	margin-top: 20px;
}

/* css for message box*/
#complaint
{
    height: 100px;
    width: 400px;	
}

/* adjusts the bottom margin of the submit button*/
#submit_button
{
	margin-bottom: 25px;
}

/* css for the drop down menu*/
.dropdown_number
{
	height: 37px ;
	width: 105px;
}

/* css for the title on the page*/
.sign_title
{
    font-size: 30px;
    font-family: Arial;
    color: #607489;
    position: relative;
    bottom: 30px;
    //right: 40px;
}

/* positions the text title*/
#signin_form .sign_title
{
    right: 0;
}