/* * {
	border : 1px solid black;
	
} */

 
/*/START////////////////////////////////////////		BODY SECTION(<body>CONTENT</>)	////////////////////////////////////////////////////////////////////*/
body
{
	margin: 0 auto;
	z-index: -99;
    background: rgb(248, 249, 250);
}

/*/START////////////////////////////////////////		NAV MENU BACKGROUND(<div id="back_nav" />)	////////////////////////////////////////////////////////////////////*/
body #back_nav
{
	position: relative;
	width: 100%;
	background: white;
	height: 100px;
	z-index: 98;
}
/*/END////////////////////////////////////////		NAV MENU BACKGROUND(<div id="back_nav" />)	////////////////////////////////////////////////////////////////////*/

/*/START////////////////////////////////////////		CONTENT WRAPPER(<div id="wrapper">CONTENT</>)	////////////////////////////////////////////////////////////////////*/
#wrapper
{
	margin: 0 auto;
    font-family: Helvetica;
    font-size: 12px;	
	min-width: 800px;
	max-width: 1080px;
	background-color: rgb(248, 249, 250);
}

/*/START////////////////////////////////////////		HEADER(<div id="header"><img/></>)	////////////////////////////////////////////////////////////////////*/
header{
	padding-top: 25px;
	height: 75px;
	background-color: white;
}
.intro
{
	position: relative;
	float: left;
	margin-top: 10px;
	display: inline-block;
    font-family: 'Fredoka One', cursive;
	color: white;
	height:49px;
	text-align:center;
    font-size: 28pt;
	width: 100px;
	text-decoration: none;
	z-index: 99;
	left: 15px;
}
.intro_blue{
	color: rgba(44, 70, 98, 0.77);
}

@keyframes bump{
	0%{
		height:49px;
	}
	25%
	{
		height: 28px;
		padding-top:12px;
		
	}
	50%
	{
		height: 28px;
		top: 14px;
		
	}
	85%
	{
		height: 28px;
		padding-bottom:24px;
		
	}
	100%
	{
		top: 2px
		height:49px;
		padding-bottom: 0;
	}
}

@keyframes appear {
    0% 
	{
		height: 0px;
		width: 0px;
		font-size: 0pt;
	}
	 75% 
	 {
		 height: 55px;
		width: 106px;
		font-size: 43px;
	}
    100% 
	{
		height: 49px;
		width: 100px;
		font-size: 28pt;
	}
}
//.header_moved
{
	top: 20px;
	margin:0 0 0 0;
	left: auto;
	right: 5px;
	height: 49px;
	width: 100px;
	animation-name: appear;
    animation-duration: 0.5s;
	animation-delay: 0s;
	animation-iteration-count: 1;
}

@keyframes tab{
	0%{
		opacity: 0.3;
	}
	30%{
		opacity: 1;
		-moz-box-shadow: 0 0 20px #fff;
		-webkit-box-shadow: 0 0 20px #fff;
		box-shadow: 0px 0px 20px #fff;
	}
	50%{
		opacity: 0.3;
	}
	70%{
		opacity: 1;
		-moz-box-shadow: 0 0 20px #fff;
		-webkit-box-shadow: 0 0 20px #fff;
		box-shadow: 0px 0px 20px #fff;
	}
	100%{
		opacity: 0.5;
	}
}



.tab_appear
{
	display: inline-block !important;
	animation-name: tab;
    animation-duration: 3.5s;
	animation-timing-function: linear;
}

#new_tab
{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 99;
	text-decoration: none;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	font-family: Helvetica;
	border: 2px solid #333;
	border-radius: 11px;
	padding: 0 5px 2px 5px;
	background-color: #f2f2f2;
	opacity: 0.5;
	text-align: center;
}
#new_tab:hover
{
	opacity: 1;
}

.intro_blue:hover {
	color: rgb(44, 70, 98);}
.intro:hover
{
    color: rgb(44, 70, 98);
}
/*/END////////////////////////////////////////		HEADER(<div id="header"><img/></>)	////////////////////////////////////////////////////////////////////*/

/*/START////////////////////////////////////////		NAVIGATION MENU(<div id="nav"><a/></>)	////////////////////////////////////////////////////////////////////*/
#nav 
{
	position: relative;
	background-color: #374969;
	width: 100%;
	height: 44px;
	z-index: 98;
}

#nav a:hover/* , #nav a[id="current"] */ {
	color: white;
	background-color: #ec3e41;
}
#nav a:not([id="current"]):hover{
	width: 134px;
}
#nav a[id="current"]{
	width: 70px;
}

.menu{
	position: relative;
	right: 15px;
	float: right;
	padding-right: 20px;
	margin-top: 22px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	z-index: 99;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 30px;
}
.menu_blue
{
	color: rgba(44, 70, 98, 0.55);
}
.menu:hover{
	color: #dddddd;
	text-decoration: underline;
}
.menu_blue:hover
{
	color: rgb(44, 70, 98);
}

#login
{
	border:1px solid white;
    border-radius: 4px;
    margin-top: 21px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
	margin-left: 12px;
}
#login_blue, .button
{
	border:1px solid rgba(44, 70, 98, 0.55);
    border-radius: 4px;
    margin-top: 21px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
	margin-left: 12px;
}
#login:hover{
	background: white;
	text-decoration: none;
	color: black;
	
}
#login_blue:hover{
	background: rgba(44, 70, 98, 0.55);
	text-decoration: none;
	color: white;
	
}
.selected
{
    color: rgb(44, 70, 98);
}

/*/END////////////////////////////////////////		NAVIGATION MENU(<div id="nav"><a/></>)	////////////////////////////////////////////////////////////////////*/

/*/START////////////////////////////////////////		CONTENT BACKGROUND(<div id="content_base">CONTENT</>)	////////////////////////////////////////////////////////////////////*/
#content_base
{

	min-height:600px;
	height: 100%;
	margin: auto auto;
	width: 100%;

}
#content_start
{
	background-image: url("../images/background2.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 70%;
	display: block;
	height: 100vh;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;    
}
//#content_start::after
{
    content: " ";
    background: rgba(255,255,255, 0.3);
    display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px; 
    z-index: 0;
}
#by_start
{
	color: #ddd;
    z-index: 99;
    position: relative;
}
/*/START////////////////////////////////////////		PAGE CONTENT(<div id="content">CONTENT</>)	////////////////////////////////////////////////////////////////////*/
#text_start
{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 2vw;
	margin-top: 50vh;
    z-index: 99;
    position: relative;
}

@media only screen and (max-width: 1080px) {
	#text_start
	{
	font-size: 21.5px;
	}
}

@media only screen and (min-width: 1920px)
{
	#text_start
	{
		font-size: 38.34px;
	}
}
#content
{
    
	height: 100%;
	text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}

#delivery_text
{
   position: relative;
   left: 23px;
}

#form
{
    margin-top: 91px;
}
#signin_form
{
    text-align: center;
    float: left;
    width: 200px;
}

#signup_form
{
    float: right;
    text-align: center;
    width: 290px;
}
#separator
{
    position: relative;
    bottom: 45px;
    height:300px;
    display: inline-block;
    width: 2px;
    background: #dddddd;
     width : 2px;
  background-image: -webkit-linear-gradient(top, #f8f9fa, #dddddd, #f8f9fa);
  background-image: -moz-linear-gradient(top, #f8f9fa, #dddddd, #f8f9fa);
  background-image: -ms-linear-gradient(top, #f8f9fa, #ddddddd, #f8f9fa);
  background-image: -o-linear-gradient(top, #f8f9fa, #dddddd, #f8f9fa);
  background-image: linear-gradient(top, #f8f9fa, #dddddd, #f8f9fa);
}
#username_input, #password_input
{
    position: relative;
    margin-bottom: 20px;
    clear: both;
}

.input_text
{
    margin-bottom: 20px;
    width: 140px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-family: Arial;
}

.dropdown_number
{
    text-align-last: center;
    margin-bottom: 20px;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    font-family: Arial;
    margin-left: 0;
}

#packageNumber
{
    text-align: right;
}
.input_text[type="date"], .input_text[type="time"]
{
    height: 15px;
}

.textarea
{
    resize: none;
    height: 15px;
    width: 175px;
    font-size: 12px;
    transition: height 0.1s linear,
                width 0.1s linear;
}

.textarea_height:focus
{
    height: 60px;
}
.textarea_width
{
    width: 442px;
}

.text_long{
    height: 60px;
}

.textarea_short
{
    width: 140px;
}
.input_label
{
    white-space: nowrap;
}

#left
{
    float: left;
    width: 24%;
}
#left_wide
{
    float: left;
    width: 360px;
    height: 230px;
}

.left
{
    float: left;
}

#right
{
    float: right;
    width: 24%;
}

#right_wide
{
    float: right;
    width: 240px;
    height: 230px;
}

.right
{
    float: right;
    position: relative;
    bottom: 14px;
}

.right_no_bottom
{
    float: right;
    top: 2px;
}

#bottom
{
    width: 562px;
}
#bottom_wide
{
    width: 633px;
    margin-left: -37px;
    overflow: hidden;
}
.button
{
    background: #568FCF;
    margin: 0;
    color: white;
    border-color: #568FCF;
    font-family: arial;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}
#signup_form .button
{
    background: #568FCF;
    margin: 0;
    color: white;
    border-color: #568FCF;
    font-family: arial;
    cursor: pointer;
    position: relative;
    left: 87%;
}
#signin_form .button
{
    left: 0;
}


.button:hover
{
    background: #387bc7;
    border-color: #387bc7;
}
.button_white
{
    border: 1px solid rgba(44, 70, 98, 0.55);
    border-radius: 4px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 12px;
    background-color: white;
    color: rgba(44, 70, 98, 0.55);
}

label.button_white 
{
    height: 35px;
    display: block;
    line-height: 35px;
    position: relative;
    bottom: 117px;
    width: 130px;
    margin: 0px auto 20px auto;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(169, 169, 169);
    
}
label.button_white::after
{
    content: "☐";
    font-size: 30px;
    line-height: 0px;
    position: relative;
    top: 18px;
    float: right;
    left: 10px;
    opacity: 0.5;
    font-weight: normal;
}
label.button_white:hover, 
.check_request[id="check_premium"]:hover ~ label.button_white[for="check_premium"]
{
    background-color: white;
    color: rgb(169, 169, 169);
}


label.button_white:hover > label.button_white[for="check_premium"]::after, 
.check_request[id="check_premium"]:hover ~ label.button_white[for="check_premium"]:after
{
    content: "☑";
} 
.check_request[id="check_premium"]:checked ~ label.button_white[for="check_premium"]::after
{
    opacity: 1;
    content: "☑";
}


label.button_white:hover
.check_request[id="check_fragile"]:hover ~ label.button_white[for="check_fragile"]
{
    background-color: white;
} 



label.button_white:hover > label.button_white[for="check_fragile"]::after , 
.check_request[id="check_fragile"]:hover ~ label.button_white[for="check_fragile"]::after
{
    content: "☑";
} 
.check_request[id="check_fragile"]:checked ~ label.button_white[for="check_fragile"]::after
{
    opacity: 1;
    content: "☑";
}

.check_request
{
    width: 162px;
    height: 37px;
    opacity: 1;
    display: block;
    margin: 0px auto 20px auto;
    position: relative;
    bottom: 3px;
}
.sign_title
{
    font-size: 20px;
    font-family: Arial;
    color: #607489;
    position: relative;
    bottom: 30px;
    //right: 40px;
}

#signin_form .sign_title
{
    right: 0;
}

.error_signup
{
    margin-left: 5px;
    display: none;
    color: red;
    white-space: nowrap;
}

.php_error
{
    font-family: Arial;
    color: red;
    z-index: 99;
    white-space: nowrap;
    position: relative;
    top: 10px;
}

.package, #button_new_package
{
    display: inline-block;
    height: 199px;
    width: 199px;
    padding-top: 5px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
    margin: 0px 5px 20px 5px;
}

#button_new_package
{
    height: 206px;
    width: 201px;
    color: rgb(169, 169, 169);
}
#button_new_package:hover
{
    background: rgba(44, 70, 98, 0.55);
    color: white;
}
.package .title
{
    position: relative;
    top: 15px;
    right: 11px;
    color: rgb(169, 169, 169);
    font-weight: bold;
    font-size: 17px;
    font-family: arial;
}
#first_title
{
    right: 0;
}
.exit
{
    position: relative;
    left: 140px;
    bottom: 7px;
    color: darkgrey;
    font-weight: bold;
    border: none;
    background: none;
    opacity: 0.5;
    cursor: default;
}
.exit:hover, .exit:focus
{
    opacity: 1;
}
.package #weight
{
    margin-top: 39px;
}




#table_holder
{
	margin-top: 0;
	width: 600px;
	min-width: 311px;
    position: static;
    color: #2c4662;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 200px 0px 200px;
    margin-left: -200px;
    
    
}

#table_holder table 
{
	border-collapse: collapse;
    width: 600px;
      
}

#table_holder a{
	text-decoration: none;
	color: inherit;
}

#address_map_left_results tr:hover > .item_number{
	color: #edc4c4;
}


#table_holder .delivery_location
{
	font-weight: bold;
   

}
#table_holder .delivery_location
{
    padding-left: 10px;
	padding-right: 5px;
    width: 67.5%;
    text-align: left;
}
#table_holder .delivery_time,
#table_holder .delivery_date
{
	padding-left: 10px;
	padding-right: 5px;
    width: 100px;

}
#table_holder tr
{
    height: 50px;
    //border-bottom: 2px solid #f1f1f1; 
     color: rgba(44, 70, 98, 0.66);
}

#table_holder thead tr
{
    height: 30px;
    //border-bottom: 2px solid rgb(169, 169, 169);
    color: rgba(44, 70, 98, 0.4);
}

tbody tr:first-of-type
{
    color: #2c4662 !important;
}

/*/START////////////////////////////////////////		WHITE BOX(<div>CONTENT</>)	////////////////////////////////////////////////////////////////////*/


/*/END////////////////////////////////////////		WHITE BOX(<div>CONTENT</>)	////////////////////////////////////////////////////////////////////*/

/*/START////////////////////////////////////////		WHITE BOX PICTURES/TOP LAYER(<label>&nbsp;</>)	////////////////////////////////////////////////////////////////////*/




/*/END////////////////////////////////////////		WHITE BOX PICTURES/TOP LAYER(<label>&nbsp;</>)	////////////////////////////////////////////////////////////////////*/



/*/END////////////////////////////////////////		STAR RATING(<div id="rating"> <input type="radio"/><label/> </div>)	////////////////////////////////////////////////////////////////////*/

/*/END////////////////////////////////////////		PAGE CONTENT(<div id="content">CONTENT</>)	////////////////////////////////////////////////////////////////////*/

/*/END////////////////////////////////////////		CONTENT BACKGROUND(<div id="content_base">CONTENT</>)	////////////////////////////////////////////////////////////////////*/

/*/START////////////////////////////////////////		FOOTER SECTION(<div id="footer"><p/></>)	////////////////////////////////////////////////////////////////////*/
#footer
{
	position: absolute;
	clear: both;
	text-align: right;
	display:block;
	width: 100%;
	background-color: white;
	color: rgba(44, 70, 98, 0.77);
	z-index: 98;
	left: 0px;
	top: 100vh;
}
#footer p
{
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 20px;
}
/*/END////////////////////////////////////////		FOOTER SECTION(<div id="footer"><p/></>)	////////////////////////////////////////////////////////////////////*/

/*/END////////////////////////////////////////		CONTENT WRAPPER(<div id="wrapper">CONTENT</>)	////////////////////////////////////////////////////////////////////*/

/*/END////////////////////////////////////////		BODY SECTION(<body>CONTENT</>)	////////////////////////////////////////////////////////////////////*/
